<a href="https://colab.research.google.com/github/pipuf/ml_dev_cert/blob/main/3_1_1_PRACTICE_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

# 3. Pandas

Pandas is the best known Python library for manipulating and analyzing data. It is built on top of NumPy, so many features are similar. We will use Pandas to work with structured datasets.

Just as NumPy provides us with arrays and with them we access many new features, Pandas provides us with DataFrames and Series. By far the most used object is the first one, DataFrames.

We are going to use the open data of the Argentine government, so you will have to download the csv from the following link: [Names 2010-2014](https://www.datos.gob.ar/dataset/otros-nombres-personas-fisicas)

In [ ]:
import pandas as pd

## Reading a csv file

In [ ]:
!gdown "1rrunop8AFG7bRdVbQZWXFQAQas581ouV"

df_names = pd.read_csv('nombres-2010-2014.csv')
df_names

In [ ]:
df_names.dtypes

## Columns renaming

First of all let's rename the columns to `name`, `amount` and `year`

In [ ]:
df_names.rename(columns={'nombre': 'name', 'cantidad': 'amount', 'anio': 'year'}, inplace=True)
df_names

## Some Pandas useful functions

**TODO:** Investigate the functions that are implemented in the next cell. What do they do? What do you think they can be useful for?

In [ ]:
# df_names.head()
# df_names.tail()
# df_names.tail()
# df_names.count()
df_names.shape

## Append a new row

**TODO:** Suppose that in the data load, someone forgot to add a name and its respective amount and year.

Let's add to our dataset the following row with said information:

Name: "Daenerys Stormborn of the House Targaryen, First of Her Name de ella, the Unburnt, Queen of the Andals and the First Men, Khaleesi of the Great Grass Sea, Breaker of Chains, and Mother of Dragons"

Amount: 100
Year: 2011

In [ ]:
# Complete this cell with your code

**TODO:** Investigate the columns and index functions. What do they do? What data type is their output? What known data type do they resemble?

In [ ]:
df_names.columns

In [ ]:
df_names.index

## Add a new column

**TODO:** Add a column to the dataframe that corresponds to the number of characters in each name

In [ ]:
# Complete this cell with your code

## Filtering by mask

Its implementation is very similar in both NumPy and Pandas, so we will see how to do it first in NumPy then in Pandas.

Suppose we make 100 rolls of a die, but we want to select only those rolls that were less than four. How can we do it?

In [ ]:
import numpy as np
dice = np.random.randint(1, 7, size=100)
print(dice)

What we can do is create a mask:

In [ ]:
mask = dice > 3
print(mask)
print(type(mask))

In [ ]:
print(dice[mask])

In [ ]:
print(dice.sum())

In [ ]:
print(dice[dice > 3])

**TODO:** Going back to our dataset, suppose we want to keep those rows with names that were repeated more than 2000 times in the corresponding year. Note that in the result a name may appear more than once in different years

In [ ]:
# Complete this cell with your code

:**TODO:** What if we want to select those names with more than 8 characters and from 2010 onwards?

In [ ]:
# Complete this cell with your code

## Statistics

**TODO:** Obtain the mean value and standard deviation of each numeric column. Is there a function in Pandas that will give us even more statistics?

In [ ]:
# Complete this cell with your code

## Delete a column

**TODO:** Delete the column `amount_chars` from the dataframe.

In [ ]:
# Complete this cell with your code

## Sorting by column

**TODO:** Sort the dataframe by `amount` and descending

In [ ]:
# Complete this cell with your code

## Pandas groupby and plot

**TODO:** Group the number of names by `year` and plot it using vertical bars

In [ ]:
# Complete this cell with your code